<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>hello world</h1>
        <h1>hello, this is {{name}}</h1>
        <h2>and iam from {{from}}</h2>
        {%  if age > 20 %}
        <h2>and my age is {{age}}</h2>
        {% endif %}
        <h3> today jingatags class in {{frame_work}}</h3>
        {%  if time > 10.30 %}
        <h3>class is started at {{time}}</h3>
        {% endif %}
        {% if duration < '3hours' %}
        <h1>django class duration time is {{duration}}</h1>
        {% endif %}
    </center>
</body>
</html>